{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>{% block title %} SAIS {% endblock%}</title>
        <!-- link stylesheets here-->
        <link rel="stylesheet" type="text/css" href="{% static 'sais/css/normalize.css' %}/">
        <link rel="stylesheet" type="text/css" href="{% static 'sais/css/skeleton.css' %}/">
        <link rel="stylesheet" type="text/css" href="{% static 'sais/css/app.css' %}/">
        {% block stylesheets %}
        {% endblock %}
        <div class="media" align="center">
          <div class="media-body">
            <ul style="margin-bottom: 0px">
                <li><img src="{% static 'sais/images/up-logo.png' %}" width="70px" height="70px" style="padding-top: 5px;padding-left: 5px;"/></li>
                <li><h7><a style="font-size:20px" href="{% url 'student:menu' %}"> Student Academic Information System</a>
                </h7></li>
                {% if user.is_authenticated %}
                <li style="float:right"><a href="{% url 'student:logout' %}">Log Out</a></li>
                <li style="float:right;color:white;"><a href="{% url 'student:profile' %}">Hi, {{student.first_name}}</a></li>
            {% endif %}
            </ul>
          </div>
        </div>
    </head>
    <body>
        <!-- news here -->
        {% if pre_enrollment %}
        <div class="row" align="center">
            <div class="one-whole column">
                <h2>Pre-enrollment going on</h2>
                <p>Pre-nrollment period is from 24 July to 29 2016, July UP Cebu</p>
                <a class="button button-primary">Pre Enlist subjects now</a>
            </div>
        </div>
        {% endif %}

        {% if enrollment %}
        <div class="row" align="center">
            <div class="one-whole column">
                <h2>Enrollment going on</h2>
                <p>Enrollment period is from 24 July to 29 2016, July UP Cebu</p>
                <a class="button button-primary">Enroll now</a>
            </div>
        </div>
        {% endif %}

        {% block body %} {% endblock %}

        <!-- scripts here-->
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
