{% extends 'student/base.html' %}
{% load staticfiles %}

{% block body %}
        <div class="container">
            <div class="row">
                <div class="one-whole column panel">
                    <h1> Student Profile </h1>
                    <div>Name: <!--{{student.full_name}}--> </div>
                    <div>Course: <!--{{student.course}}--> </div>
                    <div>Year: <!--{{student.course}}--> </div>
                    <div>Campus: <!--{{student.admitted_campus}}--></div>
                    <div>UP Mail: <!--{{student.up_mail}}--></div>
                    <div>Address: <!--{{student.address}}--></div>
                    <div>Birthday: <!--{{student.course}}--> </div>
                    <div>Gender: <!--{{student.birthday}}--></div>

                    <a class="button button-primary" align="center" href="{% url 'student:edit-profile' student.pk %}"></a>
                </div>
            </div>
        </div>
{% endblock %}