{% extends 'student/base.html' %}

{% block body %}

<h2 align="center">Enlisted Courses</h2>
<h5 align="center">{{ course_list.first.course.academic_year }}</h5>
<table align="center">
    <thead>
        <td>Course</td>
        <td>Block</td>
        <td>Professor</td>
        <td>Schedule</td>
        <td>Location</td>
        <td>Action</td>
    </thead>
    <tbody>
        {% for course in course_list %}
        <tr>
            <td> {{course.course.course }} </td>
            <td> {{course.course.block}} </td>
            <td> {{course.course.professor}} </td>
            <td> {{ course.course.schedule }}  </td>
            <td> {{ course.course.location }}  </td>
            <td>
                <form action="{% url 'student:remove-enlisted' course.pk %}" method="post" charset="UTF-8">
                        {% csrf_token %}
                        <button type="submit" name="pk" value="{{course.pk}}">Remove</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td>
                <a class="button button-primary" href="{% url 'student:enl-sched-tab' the_term.pk %}">
                    Tabular View
                </a>
            </td>
            <td>
                <a class="button button-primary" href="{% url 'student:enlist' %}">Enlist Subjects</a>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

{% endblock %}