{% extends 'student/base.html' %}
{% load staticfiles %}

{% block body %}

<table align="center">
    <tr style="background-color:#888888">
        <td>Term</td>
        <td>GWA</td>
        <td colspan="2">Actions</td>
    </tr>
    {% for term in student.terms.all %}
    <tr>
        <td>{{ term.term }}</td>
        <td>{{ term.gwa }}</td>
        <td><a href="{% url 'student:schedule' term.pk %}">Schedule</a></td>
        <td><a href="{% url 'student:term' term.pk %}">Grades</a></td>
    </tr>
    {% endfor %}
    <tr>
        <td>GWA</td>
        <td>{{ student.gwa }}</td>
    </tr>
</table>
{% endblock %}