{% extends 'student/base.html' %}
{% load staticfiles %}

{% block body %}
        <div class="container">
            <div class="row">
                <div class="one-whole column panel">
                    <h1> Student Center </h1>
                        <a class="button" href="{% url 'student:profile' %}">View Profile</a>
                        <a class="button" href="{% url 'student:grades' %}">View My Grades</a>
                        <a class="button" href="{% url 'student:enlist' %}">Enlist Subjects</a>
                </div>
            </div>
        </div>
{% endblock %}