{% extends 'student/base.html' %}
{% load staticfiles %}
{% block body %}
    <div align="center"> Schedule: {{ term }} </div>
    <div align="center"> Name: {{ student.name }} </div>
    <div align="center"> Student No: {{ student }} </div>
    <div align="center"> Course: {{ student.program }} </div>
    <h5 align="center"> Tabular View </h5>
    <br>
    

     <div align="center">
            <div><img src="{% static "sais/images/sched-table.png" %}"></div>
        <a class="button button-primary" href="{% url 'student:enl-schedule' term.pk %}">Summary View</a>
            <a class="button button-primary" href="{% url 'student:enlisted-courses' %}">Manage Enlisted Subjects</a>
        </div>
    </table>

{% endblock %}