{% extends 'student/base.html' %}
{% load staticfiles %}
{% block body %}
    <div align="center"> Schedule: {{ term.term }} </div>
    <div align="center"> Name: {{ term.student.name }} </div>
    <div align="center"> Student No: {{ term.student }} </div>
    <div align="center"> Course: {{ term.student.program }} </div>
    <h5 align="center"> Tabular View </h5>
    <br>
    

    <div align="center">
            <div><img src="{% static "sais/images/sched-table.png" %}"></div>
            <a class="button button-primary" href="{% url 'student:schedule' term.pk %}">Summary View</a>
    </div>

{% endblock %}