{% extends 'student/base.html' %}
{% load staticfiles %}
{% block body %}
    <div align="center"> Schedule: {{ term }} </div>
    <div align="center"> Name: {{ student.name }} </div>
    <div align="center"> Student No: {{ student }} </div>
    <div align="center"> Course: {{ student.program }} </div>
    <h5 align="center"> Tabular View </h5>
    <br>
    

    <table align="center">
        <tr>
            <td>Course Code</td>
            <td>Course Description</td>
            <td>Days and Time</td>
            <td>Location</td>
            <td>Campus</td>
        </tr>
        {% for course in courses %}
            <tr>
                <td>{{ course.course.course }} {{ course.course.block }}</td>
                <td>{{ course.course.course.name }}</td>
                <td>{{ course.course.schedule }}</td>
                <td>{{ course.course.location }}</td>
                <td>{{ course.course.campus }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td><a href="{% url 'student:enl-schedule' term.pk %}">Summary View</a></td>
            <td></td>
            <td></td>
        </tr>
    </table>

{% endblock %}