{% extends 'student/base.html' %}
{% load staticfiles %}
{% block body %}
    <div align="center"> Schedule: {{ term.term }} </div>
    <div align="center"> Name: {{ term.student.name }} </div>
    <div align="center"> Student No: {{ term.student }} </div>
    <div align="center"> Course: {{ term.student.program }} </div>
    <br>
    

    <table align="center">
        <tr>
            <td>Course Code</td>
            <td>Course Description</td>
            <td>Time</td>
            <td>Location</td>
            <td>Campus</td>
        </tr>
        {% for course in courses %}
            <tr>
                <td>{{ course.course.course }}</td>
                <td>{{ course.course.course.name }}</td>
                <td>{{ course.course.course.units }}</td>
                <td>{{ course.course.location }}</td>
                <td>{{ course.course.campus }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td><a href="{% url 'student:sched-tab' term.pk %}">Tabular View</a></td>
            <td></td>
            <td></td>
        </tr>
    </table>

{% endblock %}