{% extends 'student/base.html' %}
{% load staticfiles %}
{% block body %}
    <div align="center"> Grades for {{ term.term }} </div>
    <div align="center"> Name: {{ term.student.name }} </div>
    <div align="center"> Student No: {{ term.student }} </div>
    <div align="center"> Course: {{ term.student.program }} </div>
    <br>
    

    <table align="center">
        <tr>
            <td>Course Code</td>
            <td>Course Description</td>
            <td>Units</td>
            <td>Grade</td>
        </tr>
        {% for course in courses %}
            <tr>
                <td>{{ course.course.course }}</td>
                <td>{{ course.course.course.name }}</td>
                <td>{{ course.course.course.units }}</td>
                <td>{{ course.get_grade_display }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><b>GWA: </b></td>
            <td><b> {{ term.units_taken }} </b></td>
            <td><b>{{ term.gwa }}</b></td>
        </tr>
    </table>

{% endblock %}